/* 
	div.wpcf7
	 form.wpcf7-form
	  p
	   span.wpcf7-form-control-wrap
	    input.wpcf7-form-control
*/
@media only screen {
	// Reset Chrome AutoFill
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-animation: autofill 0s forwards;
		animation: autofill 0s forwards;
		-webkit-text-fill-color: white;
		border: 1px solid $green;
	}
	@keyframes autofill {100% {background: transparent;color: inherit;}}
	@-webkit-keyframes autofill {100% {background: transparent;color: inherit;}}
	

	div.wpcf7 {
		display: inline-block;
		width: 100%;
		max-width: 640px;
		padding: 20px;
		margin: 20px auto;
		text-align: center;


		form.wpcf7-form {
			width: 100%;
			input,
			textarea {
				// Styling
				font-family: Fira Sans;
				font-size: 1.7rem;
				color: white;
				font-weight: 300;
				letter-spacing: 1px;
				border: 1px solid white;
				outline: none;
				background: none;
				// Layout
				max-height: 160px;
				width: 100%;
				margin: 10px 0;
				padding: 10px;
				// Placeholder Text
				@include placeholder{
					font-family: Fira Sans;
					font-size: 1.7rem;
					color: white;
					font-weight: 300;
					letter-spacing: 1px;
				};
				&:focus {
					border: 1px solid $gold;
				}
			}
			// Submit Button
			input[type = "submit"] {
				-webkit-appearance: none;
				cursor: pointer;
				text-transform: uppercase;
				// font-family: $montserrat;
				font-weight: 400;
				font-size: 2.2rem;
				background-color: $blue;
				border: 1px solid $blue;
				@include transition(background-color 0.4s ease, opacity 0.4s ease, border-color 0.4s ease);
				&:hover,
				&:focus {
					background-color: $blue;
					border: 1px solid $blue;
				}
			}
			/* 
				Behavior/Submission
			*/
			.wpcf7-recaptcha {
				display: inline-block;
			}
			span.wpcf7-not-valid-tip {
				position: absolute;
				right: 10px;
				top: 50%;
				@include transform(translate(0, -50%));
				color: $gold;
				font-size: 1.6rem;
				font-weight: 300;
			}
			// submission response
			div.wpcf7-response-output {
				display: none !important;
			}
			.cf7-submitfailed {
				background-color: $gold !important;
				border: 1px solid $gold !important;
			}
			.cf7-submitsent {
				background-color: $green !important;
				border: 1px solid $green !important;
			}
			.input--filled {
				border: 1px solid $green;
				&:focus {
					border: 1px solid $green;
				}
			}
		}
	}
}
@media only screen and (min-width: $medium) {}
@media only screen and (min-width: $large) {}