@media only screen {
	.nav {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		z-index: 11;
		background-image: linear-gradient(180deg, transparentize(black, 0), transparentize(black, 1));
		padding: 10px 0;
	}
	.nav-menu {
		@include centerer;
		@include justifyblocks;
		width: calc(100% - 60px);
		margin: 0 auto;
	}
	.nav-menu-navicon,
	.nav-menu-logo {
		display: inline-block;
		vertical-align: middle;
	}
	.nav-menu-logo  {
		width: calc(128px / 1.5);
		height: calc(29px / 1.5);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.nav-menu-navicon {
		padding: 10px;
		font-size: 22px;
		cursor: pointer;
		color: white;
	}
	/* 
		Side Panel
	*/
	.sidebar {
		position: fixed;
		z-index: 10;
		top: 0px;
		height: 100%;
		left: 0;
		width: 100%;
		max-width: 320px;
		@include transform(translate3d(-100%, 0, 0));
		@include transition(transform 0.5s ease);
		background-image: linear-gradient(90deg, black, transparentize(black, 0.33), transparentize(black, 1));
		text-align: center;
	}
	.sidebar-menu {
		@include centerer;
		text-align: left;
		width: calc(100% - 60px);
	}

	.sidebar-menu-socials,
	.sidebar-menu-links {
		margin: 40px 0;
		padding: 10px 0;
		text-align: left;
		
	}
	.sidebar-menu-links{
		.button {
			display: block;
			padding-left: 0;
		}
		.button-text {
			padding-left: 0;
		}
	}
	.sidebar-menu-socials-social-title {
		font-size: 1.4rem;
		color: white;
	}
	.sidebar-menu-socials-social {
		display: block;
		margin: 10px 0;
		padding: 5px;
		padding-left: 0;
		cursor: pointer;
		max-width: 160px;
		i, span {
			vertical-align: middle;
			display: inline-block;
			margin: 0 auto;
			padding: 5px;
			padding-left: 0;
			font-size: 14px;
		}
		i {
			color: white;
			font-size: 18px;
			margin-bottom: -5px;
		}
		span {
			margin-left: 10px;
			opacity: 0;
			border-bottom: 1px solid $gold;
			@include transition(opacity 0.4s ease);
		}
		&:hover {
			span {
				opacity: 1;
			}
		}
	}
	.sidebar--open {
		@include transform(translate3d(0,0,0));
	}
}
@media only screen and (min-width: $medium) {}
@media only screen and (min-width: $large) {

}