@media only screen {

	.about-members {
		position: relative;
		font-size: 0;
		width: 100%;
		&:after {
			width: 100%;
			display: inline-block;
			content: '';
		}
	}
	.about-members-member {
		cursor: pointer;
		position: relative;
		display: inline-block;
		height: 220px;
		width: 100%;
		overflow: hidden;
		&:focus,
		&:hover {
			.about-members-member-bg {
				width: 100%;
				height: 100%;
				&:after {
					opacity: 0.33;
				}
			}
		}
	}
	.about-members-member-bg {
		@include centerer;
		@include transition(width 0.4s ease, height 0.4s ease);
		width: 125%;
		height: 125%;
		background-size: cover;
		background-repeat: no-repeat;
		&:after {
			@include transition(opacity 0.4s ease);
			@include darkenOverlay;
			z-index: 0;
			opacity: 0.66;
		}
	}
	.about-members-member-info {
		@include centerer;
		z-index: 1;
		width: 100%;
		color: white;
		padding: 20px;
		h3, p {
			padding: 5px;
			text-shadow: 1px 1px 5px black;
			font-weight: 300;
		}
		h3 {
			text-transform: uppercase;
			font-size: 3.6rem;
			margin: 10px auto;
		}
		p {
			font-size: 1.8rem;
		}
	}
	// Hide Desktop-Only Els
	.desktop-bandbios {
		display: none;
	}
}
@media only screen and (min-width: $medium) {
	.about-members {
	}
	.about-members-member {
		width: 50%;
	}
}
@media only screen and (min-width: $large) {
	.about {
			height: 100vh;
	}
	div.about-members-member {
		display: none;
	}
	// container
	.desktop-bandbios {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.desktop-bandbios-members,
	.desktop-bandbios-imgframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		overflow: hidden;
		background-color: $black;
	}
	/* 
		Slant and Info
	*/
	.desktop-bandbios-members {
		position: absolute;
		top: -50px;
		left: -100px;
		width: 50%;
		max-width: 720px;
		height: 125%;
		@include transform(rotate(-15deg));
		background-color: black;
		z-index: 2;
	}
	.desktop-bandbios-members--centerer {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(rotate(15deg) translate(-75%, -75%));
	}
	.desktop-bandbios-imgframe {
		right: 0;
		left: auto;
		width: 80%;
	}
	.desktop-bandbios-members-member {
		position: relative;
		z-index: 4;
		@include transition(background-color 0.4s ease, border 0.4s ease, opacity 1s ease);
		font-size: initial;
		color: white;
		margin: 40px auto;
		border: 2px solid transparent;
		border-left: 2px solid transparent;
		width: 250%;
		text-align: left;
		cursor: pointer;
		padding: 10px 0;
		h1, p {
			padding: 0 20px;
			margin: 5px auto;
		}
		h1 {
			font-size: 2.6rem;
			text-transform: uppercase;
		}
		p {
			font-size: 2rem;
			padding: 0 20px;
		}
		&:hover {
			background-color: transparentize(lightgrey, 0.9);
			border-left: 2px solid transparentize($gold, 0.33);
		}
	}
	.selected-bandmember {
		background-color: transparentize(lightgrey, 0.9);
		border-left: 2px solid transparentize($gold, 0.33);
	}

	/* 
		Images
	*/
	.desktop-bandbios-imgframe-image {
		width: 101%;
		height: 100%;
		top: 50%;
		left: 50%;
		@include transform(translate3d(-50%, -50%, 0));
		position: absolute;
		z-index: 1;
		opacity: 0;
		@include transition(opacity 1s ease-in-out);
		&:after {
			opacity: 0.1;
		}
	}
	.selected-bandmember-image {
		opacity: 1;
	}

	

	


}