@media only screen{
	

	.footer {
		width: 100%;
		background: #181818;
		margin: 0 auto;
		text-align: center;
		> p {
			display: inline-block;
			vertical-align: middle;
			margin: 0 auto;
			color: white;
			font-size: 14px;
			margin: 20px;
			a {
				color: $gold;
			}
		}
	}
}
@media only screen and (min-width: $medium){


}
@media only screen and (min-width: $large){


}