@media only screen {
	.hero {
		height: 100%;
		.section-banner {
			display: none;
		}
		&:after {
			@include darkenOverlay;
		}
	}
	.hero-bgvid {
		position: absolute;
		z-index: -2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	.hero-content {
		@include centerer;
		width: calc(100% - 40px);
	}
	.hero-content-leadin {
		font-size: 3rem;
		padding: 10px;
	}
	.hero-content-title {
		padding: 20px;
		margin: 20px auto;
		// Grace and Bile
		span {
			@include transition(opacity 0.4s ease);
			opacity: 0.75;
			display: block;
			vertical-align: text-bottom;
			line-height: 1;
			// Grace
			&:nth-of-type(1){
				font-size: 14rem;
				font-family: Miss Fajardose;
				margin-bottom: -20px;
			}
			// and
			&:nth-of-type(2) {
				padding: 5px;
				font-size: 22px;
			}
			// Bile
			&:nth-of-type(3){
				font-family: Princess Sofia;
				font-size: 10rem;
			}
		}
	}
}
@media only screen and (min-width: $medium){
	.hero-content-title {
		span {
			&:nth-of-type(1){
				font-size: 20rem;
			}
			&:nth-of-type(2){
				font-size: 33px;
			}
			&:nth-of-type(3){
				font-size: 14rem;
			}
		}
	}
	.hero-content-leadin {
		font-size: 4rem;
	}
}
@media only screen and (min-width: $large){

	.hero-content-title {
		span {
			&:nth-of-type(1){
				font-size: 26rem;
				line-height: 100%;
			}
			&:nth-of-type(2){
				font-size: 44px;
				margin: -20px auto;
				@include transform(translateY(-50%));
			}
			&:nth-of-type(3){
				font-size: 17rem;
			}
		}
	}
	.hero-content-leadin {
		font-size: 6rem;
	}
}