@media only screen {
	.events-past {
		display: none;
	}
	.events {

	}

	.events--wrapper {
		max-width: 1024px;
		margin: 0 auto;
	}
	.events-event {
		display: block;
		position: relative;
		width: 100%;
		height: 400px;
		width: 100%;
		font-size: 0;
		overflow: hidden;
	}
	// clean 'calendar-style' date formatting
	
	.events-event-cleandate,
	.events-event-cleantime {
		p {
			display: inline-block;
			margin: 0;
			line-height: 1;
		}
	}

	.events-event-cleandate {
		position: absolute;
		top: 40px;
		left: 40px;
		display: inline-block;
		text-align: left;
		.events-event-cleandate-date {
			font-size: 128px;
			color: $gold;
			margin-right: 15px;
		}
		.events-event-cleandate-month {
			display: inline-block;
			color: white;
			font-size: 42px;
			position: relative;
		}
	}
	.events-event-cleantime {
		display: inline-block;
		white-space: nowrap;
		margin-left: 20px;
		font-size: 0;
		p {
			font-size: 42px;
		}
		.events-event-cleantime-hour {
		}
		.events-event-cleantime-min {
			font-size: 32px;
		}
		.events-event-cleantime-ampm {
			font-size: 22px;
		}
	}

	.events-event-venue {
		@include centerer;
		width: 100%;
		@include transform(translate(-50%, 0));
		p {
			display: inline-block;
		}
		.events-event-venue-name {
			font-size: 32px;
			margin-right: 10px;
			// color: $gold;
		}
		.events-event-venue-location  {
			font-size: 18px;
		}
		.events-event-venue-time {
			display: block;
			font-size: 22px;
		}
	}



	// view on facebook - appears on hover
	//  animated underline when hovered over the button
	.events-event-fblink {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: inline-block;
		text-align: center;
		background-color: transparentize(black, 0.33);
		@include animated-underline;
		@include transform(translate(0, 100%));
		@include transition(transform 0.4s ease);
	}
	.events-event-fblink-link {
		overflow: hidden;
		display: inline-block;
		font-size: 18px;
		padding: 20px;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-weight: 900;
		opacity: 0.75;
		@include transition(opacity 0.5s ease);
	}
	.events-event-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-size: cover;
		@include transition(transform 1s ease-in-out);
		&:after {
			@include darkenOverlay;
			opacity: 0.8;
			@include transition(opacity 1s ease-in-out);
		}
	}	
	.events-showrecent {
		width: 100%;
		padding: 20px 0;
	}
	.events-event--odd:last-of-type {
		width: 100%;
	}
	/* 
		Behavior
	*/

	.events-event {
		&:hover {
			.events-event-fblink {
				@include transform(translate(0,0));
			}

			// hover over event 'card' lightens bg
			.events-event-bg {
				@include transform(scale(1.15));
				&:after {
					// opacity: 0.66;
				}
			}
		}
	}
	.events-event-fblink-link:hover {
		opacity: 1;
	}


}
@media only screen and (min-width: $medium){
	.events-event {
		display: inline-block;
		margin: 0 auto;
		width: 50%;
	}
	
	
}
@media only screen and (min-width: $large){

	.events-event {
		
	}


}