@media only screen {
	.revealer {
		opacity: 0;
		@include transition(opacity 2s ease);
	}
	.revealer--revealed {
		opacity: 1;
	}
	/* 
		Basic Styles / Theme Setup
	*/
	.section {
		position: relative;
		z-index: 1;
		overflow: hidden;
		font-size: 0;
		text-align: center;
		width: 100%;
	}
	/* 
		Full-Width Banners
	*/
	.section-banner {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 160px;
		background-color: #181818;
	}
	.section-banner-title {
		@include centerer;
		margin: 0 auto;
		z-index: 2;
		display: inline-block;
		font-size: 72px;
		letter-spacing: 20px;
		text-transform: uppercase;
		&.revealer--revealed {
			opacity: 0.8;
		}
	}
	/* 
		Buttons should be setup like:
			a.button { p.button-text }
		Enables more powerful pseudo-el underline and positioning
	*/
	.button {
		cursor: pointer;
		font-size: 1.8rem;
		display: inline-block;
		position: relative;
		margin: 10px auto;
		padding: 5px 10px;
		&:hover, &:focus {
			.button-text {
				color: $gold;
				&:before {
					@include transform(translate(0,0));
				}
			}
		}
	}
	.button-text {
		display: inline-block;
		font-weight: 400;
		overflow: hidden;
		position: relative;
		text-transform: uppercase;
		@include transition(color 0.4s ease);
		white-space: nowrap;		// default to single line
		padding: 10px; 				// distance to underline
		&:before, &:after {
			position: absolute;
			bottom: 0px;			// must be 0 or overflow bugs
			left: 0;
			content: '';
			height: 1px;
			background-color: white;
			width: 100%;
			z-index: 1;
		}
		&:before {
			z-index: 2;
			background-color: transparentize($gold, 0);		// slide-in gold accent
			@include transform(translate(-100%, 0));
			@include transition(transform 0.4s ease);
		}
	}
	/* 
	
	*/
}
@media only screen and (min-width: $medium) {
	

	
}
@media only screen and (min-width: $large) {
	
}