@media only screen {


	.homepage-videos-header {
		width: 100%;
		font-size: 4rem;
		padding: 40px 0;
		text-transform: uppercase;
		text-align: center;
		background: #545454;

	}

	.homepage-videos-vidwrap {
		margin: 0px auto;
		display: inline-block;
		padding: 0px;
		overflow: hidden;
		width: 100%;
		max-width: 640px;
		iframe {
			width: 100%;
		}
	}

}


@media only screen and (min-width: $medium){


}
@media only screen and (min-width: $large){


}