/* 
	Setup Parallax Backgrounds for Tablet and Desktop
	Setup Static Image Backgrounds for Mobile
*/
@media only screen {
	.mobilebg,
	.parallaxbg {
		position: absolute;
		z-index: -1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.mobilebg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:after{
			@include darkenOverlay;
		}
	}
	.parallaxbg {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate3d(0) translate(-50%, -50%));
		min-width: 100%;
		height: 150%;
		&:after{
			@include darkenOverlay;
		}
	}
	.contact {
		.mobilebg,
		.parallaxbg {
			background-image: url(../../library/img/siderecord.jpeg);
		}
	}

	.videos {
		.mobilebg,
		.parallaxbg {
			background-image: url(../../library/img/record.jpg);
			background-position: center bottom;
		}
	}
}

@media only screen and (min-width:$medium) {

	.parallaxbg {
		display: block;
	}
	.mobilebg {
		display: none;
	}
	
}