/* 
	Normalize
*/
html,body{
	width: 100%;
	height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}
html{
	font-size: 62.5%; // base 10 for fonts
}
body{
	font-size: 1.6rem;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 
	Site Style / Soft Reset
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
ul, ol {
	list-style-type: none;
}
a, a:visited, a:hover, a:focus {
	text-decoration: none;
	color: unset;
}
body {
	background-color: #000;
	color: #FFF;
	font-weight: 300;
	font-family: 'Lato';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto';
	font-weight: 300;
	margin: 20px auto;
}
p {
	font-family: 'Roboto';
	font-weight: 300;
	margin: 20px auto;
}