// breakpoints

$medium: 641px;
$large: 1025px;


//  Colors

$white: white;
$black: #1d1d1d;

$malibu: #66B7E1;		// Blue
$froly: #E56D75;		// pinkish/salmon red
$jazz: #5E2D30;			// darker shade of froly (wine)



// borrowing this from my portfolio for a sec

$blue: #1c72ad;
$green: #2e9770;
$orange: #E07544;
$grey: #3f3f3f;
$black: #01070D;
$ltgrey: #898989;


// Premium Color Theme

$gold: #d1bf76;